<h1>Sign Up</h1>

<%= form_with model: @user do |form| %>
  <%= form.label "Username:" %>
  <%= form.text_field :username %>

  <%= form.label "Email:" %>
  <%= form.email_field :email, placeholder: "user@mail.com" %>

  <%= form.label "Password:" %>
  <%= form.password_field :password %>

  <%= form.submit "Sign Up" %>
<% end %>
